/* Will be compiled down to a single stylesheet with your Less files */
@import "bootstrap.css";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro|Expletus+Sans:500,700,600);

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Expletus Sans', cursive;
	/*font-weight: 400;*/
}

pre {
	font-family: 'Source Code Pro', sans-serif;
}

#timer-control {
	margin-top: 30px;
	margin-left: 50px;
}