<div class="row">
	<!-- <div class="span6 invisible">
		<div class="row">
			<div class="span4">
				<p ng-repeat="task in tasks">
					{{task.timeSoFar | date:'H:mm:ss'}} - {{task.description}}
				</p>
			</div>
			<div class="span2">
				<div class="btn-group">
					<button class="btn" ng-click="timer.stop()" ng-show="timer.state()">Stop</button>
					<button class="btn" ng-click="timer.start()" ng-hide="timer.state()">Start</button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<a href="#">Mark as Complete</a>
						<a href="#">Save task in todo</a>
					<!-- dropdown menu links - ->
					</ul>
				</div>
			</div>
		</div>
	</div> -->
	<div class="span6">
		<div class="hero-unit" ng-repeat="task in tasks">
			<p>
				{{task.description}}
			</p>
			<h1>
				{{task.timeSoFar | date:'H:mm:ss'}}
			</h1>
			<p ng-show="task.isCountdown">
				Remaining: <span ng-class="task.remainderClass">{{task.timeRemaining | date:'H:mm:ss'}}</span>
			</p>
			<!--
			• remove active when not running
			• change to red when over the time limit
			• get percentage for witdth
			-->
			<div class="" ng-class="timer.progressClass(task.id)">
				<div class="bar" style="width: {{task.percentage}}%;"></div><!--  -->
			</div>
			<div class="btn-group timer-control">
				<button class="btn btn-large btn-danger" ng-click="timer.stop(task.id)" ng-show="timer.state(task.id)">Stop</button>
				<button class="btn btn-large btn-success" ng-click="timer.start(task.id)" ng-hide="timer.state(task.id)">Start</button>
				<button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><button class="btn btn-link" href="#" ng-click="timer.reset(task.id)"><i class="icon-repeat"></i> Reset</button></li>
					<li><button class="btn btn-link" href="#" ng-click="timer.remove(task.id)"><i class="icon-remove"></i> Delete</button></li>
				<!-- dropdown menu links -->
				</ul>
			</div>
		</div>
	</div>
	<div class="span6 bump">
		<form class="form-horizontal">
			<h2>
				New Task
			</h2>
			<div class="control-group">
				<label class="control-label" for="inputDescription">Description</label>
				<div class="controls">
					<input type="text" id="inputDescription" ng-model="newTimer.description" placeholder="Task Name">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputDuration">Duration of Task (Optional)</label>
				<div class="controls">
					<input type="number" id="inputDuration" ng-model="newTimer.initialTime" min="0" placeholder="In Minutes">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<!-- <label class="checkbox">
						<input type="checkbox"> Simultaneous Running
					</label> -->
					<button class="btn btn-large" ng-click="timer.add()">Create</button>
				</div>
			</div>
		</form>
		<!-- <pre>newTimer:
{{newTimer | json}}
Tasks:
{{tasks | json}}
		</pre> -->
	</div>
</div>